version: "3.9"

services:
  backend:
    build: ./mw-admin-panel-backend
    container_name: admin-backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./mw-admin-panel-backend/.env.production

  admin-frontend:
    build: ./mw-admin-react
    container_name: admin-frontend
    restart: always
    ports:
      - "3000:80"  # NGINX inside container serves on 80

  landing:
    build: ./mw-landing-page
    container_name: landing-page
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - ./mw-landing-page/.env.production
